* {
    text-align: center;
}

/* .start class will do initial styling for start page */ 
body {
    background: rgb(2,0,36);
    background: linear-gradient(11deg, rgba(2,0,36,1) 0%, rgba(20,20,22,1) 31%, rgba(0,212,255,1) 100%);
}

body {
    width:100vw;
    height:100vh;
}

.countdown {
    color:whitesmoke;
    font-size:1.5rem;
}

.start #question-card,
.start #userInitials,
.start #current-score,
.start header,
.start #main-menu,
.start #scoreboard h3 {
    visibility: hidden;
}

.start h1, p {
    color:whitesmoke;
}

.start #btn:hover {
    transform:scale(1.02);
    box-shadow: 1px 1px 1px;
}

.game-start h1,
.game-start p,
.game-start #userInitials,
.game-start #rule,
.game-start #btn,
.game-start #scoreboardAdd,
.game-start #showScores
.game-start#scoreboard h3 {
    visibility: hidden;
}

.game-start #current-score p {
    visibility: visible;
    color:whitesmoke;
    padding-left: 1.2rem;
}

/* Showing our question template */
.game-start {
    background: rgb(2,0,36);
    background: linear-gradient(11deg, rgba(2,0,36,1) 0%, rgba(20,20,22,1) 31%, rgba(0,212,255,1) 100%);
}

.game-start {
    width:100vw;
    height:100vh;
}

.game-start #question-card {
    visibility: visible;
    background-color: whitesmoke;
    border: 1px solid black;
    box-shadow: 5px 5px 4px -1px #000000;
    width: 50vw;
    max-width: fit-content;
    height: 35vh;
    min-height:40vh;
    margin: 0 auto;
}

.game-start #btn2,
.game-start #showScores,
.game-start #main-menu,
.game-start #scoreboard h3 {
    visibility: hidden;
}

.game-start #question-card h3 {
    text-align: start;
    margin: 1em 0.5em;
    border-bottom: 0.3em solid grey;
}

.game-start #question-card form{
    display:flex;
    flex-direction: column;
}

.game-start #question-card input,
.game-start #userinitials {
    visibility: hidden;
}


.game-start #question-card div {
    margin: 0.6em 0;
}

.game-start input[type="radio"]:checked+label {
    font-weight:bolder;
}

.game-start #nextQ {
    margin: 1em 0 0 1.5em;
}

.game-over h1,
.game-over p,
.game-over #rule,
.game-over #btn,
.game-over #question-card,
.game-over #btn2,
.game-over #scoreboard h3 {
    display:none;
    visibility: hidden;
}

.game-over #current-score {
    display: flex;
    flex-direction: column;
    margin-left:37%;
    width: 25vw;
}

.game-over input {
    margin: 1rem 0;
    justify-self: center;
}

.scoreboardView h1,
.scoreboardView p,
.scoreboardView #rule,
.scoreboardView #btn,
.scoreboardView #question-card,
.scoreboardView #btn2 {
    display:none;
    visibility: hidden;
}

.scoreboardView #userInitials,
.scoreboardView #scoreboardAdd,
.scoreboardView #showScores,
.scoreboardView p,
.scoreboardView h1,
.scoreboardView header {
    visibility: hidden;
}

.scoreboardView #thanks,
.scoreboardView #main-menu,
.scoreboardView #scoreboard,
.scoreboardView #scoreboard h1 {
    visibility: visible;
}

.scoreboardView #scoreboard {
    color:whitesmoke;
    display:flex;
    flex-direction: column;
    margin: auto;
    max-width: 50vw;
}

.scoreboardView #scoreboard h3 {
    font-size: 2.5rem;
}

.scoreboardView #user-scores {
    text-align: center;
    flex-direction: column;
    font-size: 1.5rem;
}

.scoreboardView #user-scores li {
    margin: 3rem 0;
}